<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Buscar:</h1>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Buscar">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Resultados:</h3>
            <ul class="list-group">
            {% for result in page.object_list %}
                <!--
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                    <a href="{% url 'subastadetalle' pk=result.pk %}">{{ result.titulo }}</a>
                    </div>
                </div>
                idSubasta
                -->
                 
                <p>
                    {% if result.model_name == "subastas" %}
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                <div class="row" >
                                    <a href="{% url 'subastadetalle' pk=result.pk %}">{{ result.titulo }} </a>
                                    <p> Detalle subasta:{{ result.detalle }} </p>        
                                </div>
                            </li>
                            
                        </ul>
                    {% elif result.model_name == "comentarios" %}
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                <div class="row" >
                                    <a href="{% url 'subastadetalle' pk=result.object.idSubasta.id %}">{{ result.object.idSubasta.titulo }}</a> 
                                    <p>Comentario: {{ result.comentario }}</p>     
                                </div>
                            </li>
                            
                        </ul>
                    {% endif %}
                </p>
            {% empty %}
                <div class="row">
                    <p>No se encontraron subastas.</p>
                </div>    
            {% endfor %}
            </ul>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}


