{% extends "base.html" %}

{% block content %}
    <center>
        <h1 style="padding:2%">¿Quienes somos?</h1>

        <p>TuSubasta.com nace con el objetivo de ofrecer un buen servicio de venta de cosas usadas. Apostamos por internet como la vía más utilizada en el momento, satisfaciendo la demanda de descuentos y liquidaciones de bienes.
Por medio de internet posibilitamos que compradores de Sunchales y la zona puedan participar, dentro de un ambiente seguro, sin tener la necesidad de trasladarse a un domicilio particular. Además de ofrecerles a los vendedores una herramienta totalmente transparente, efectiva y confiable para la venta de sus activos en desuso.
Contamos con una gran variedad de productos de diferentes categorías y precios, de esta manera nos asegurarnos que el cliente siempre va a encontrar lo que necesite.
Todo el equipo de Tusubasta.com está a su entera disposición. Gracias por confiar en nosotros.</p>
    </center>

{% endblock %}
</html>