{%for comentario in comentarios%}
                <li id="{{comentario.id}}" class="list-group-item justify-content-between">
                   
                        <h6 align="center">{{comentario.idUsuario.username}} </h6>
                        <p>{{comentario.comentario}}</a>.</p>
                    
                </li>
            {%endfor%}
   <li id="{{comentario.id}}" class="list-group-item justify-content-between">
                        <div class="form-group"> 
                        <textarea class="form-control" type="text" class="formControl"id="nuevoComentario" placeholder="Ingrese comentario"></textarea>  
                        <button type="button" class="btn btn-primary" onclick="comentar()" >Comentar</button>
                        </div>
                </li>