<!DOCTYPE html>
{% extends 'moderador.html' %}
{% load staticfiles %}

{% block denunciaComentarios %}
<center <h1 class="panel-title" style="padding:2%">Comentarios denunciados</h1> </center>

<ul class="list-group">
  
	{%for cd in listaComentariosDenunciados%}
	  	<li id="{{cd.id}}" class="list-group-item justify-content-between">
	    	<div class="row" >
	    		<h5>Subasta: {{cd.idSubasta}}</h5>
	    		<p>Usuario que hace la denuncia: {{cd.idUsuario}}</p>
				<p>Motivo: {{cd.idMotivo.de}}</p>
	    		<p>Fecha comentario: {{cd.fechaAlta}}</p>
	    		<p>Comentario: {{cd.comentario}}</a>.</p>
	    	</div>
	    	<div aling = "center">
		    	<a class="btn btn-primary" onclick="cancelar({{cd.id}})" role="button">Eliminar comentario</a>
	    	</div>
	  	</li>
	{%endfor%}
</ul>


<div class="modal fade" id="modalCancelar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar el comentario?</p>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="eliminarComentario()" class="btn btn-primary">Si</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
var idSeleccionado = null;

function cancelar(id){
	idSeleccionado = id;
	$('#modalCancelar').modal('show');
	console.log(idSeleccionado);
}


function eliminarComentario(){
        $.ajax({
            "method":"POST",
            "url":"/eliminarComentario/",
            "data":{"id":idSeleccionado, "csrfmiddlewaretoken":"{{csrf_token}}"},
            success:function(data){
                if(JSON.parse(data) =="OK"){
                    alert("El comentario se eliminó correctamente");
                    $("#".concat(idSeleccionado)).remove();
                    $('#modalCancelar').modal('hide');
                }else{
                    alert("Error al elimnar");
                }
            }
        });
    }


</script>


{% endblock %}




