
<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<center <h1 class="panel-title" style="padding:2%">Tus Subastas</h1> </center>

<ul class="list-group">
  
	{%for i in listaSubastas%}
	  	<li id="{{i.id}}" class="list-group-item justify-content-between">
	    	<div class="row" >
	    		<h4 > {{ i.titulo }} </h4>
	    		<p> Detalle: {{i.detalle}}</a>.</p>
	    		<!--
	    		<div class="col-sm-12 col-md-12 col-lg-6" align="center" >
				  <img class ="pull-left" src="{{MEDIA_URL}}{{i.imagenA}}" width="100%"/>
				</div>
				<h4 align="pull-left"> Precio Base: {{ i.precioBase }} </h4>
	    		<p> Fecha Fin: {{ i.fechaFin }}</a>.</p>
	    		-->
	    	</div>
	    	<div aling = "center">
		    	<a href="{% url 'editarSubasta' idSubasta=i.id %}" class="btn btn-primary" role="button">Editar Subasta</a>
		    	<a class="btn btn-primary" onclick="cancelar({{i.id}})" role="button">Cancelar Subasta</a>
	    	</div>
	  	</li>
	{%endfor%}

</ul>

<div class="modal fade" id="modalCancelar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea cancelar la subasta?</p>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="eliminarSubasta()" class="btn btn-primary">Si</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>





<script type="text/javascript">
var idSeleccionado = null;

function cancelar(id){
	idSeleccionado = id;
	$('#modalCancelar').modal('show');
	console.log(idSeleccionado);
}


function eliminarSubasta(){

	$.ajax({
		"method":"POST",
		"url":"/eliminarSubasta/",
		"data":{"id":idSeleccionado, "csrfmiddlewaretoken":"{{csrf_token}}"},
		success:function(data){
			if(JSON.parse(data)=="OK"){
				alert("Eliminado");
				$("#".concat(idSeleccionado)).remove();
				$('#modalCancelar').modal('hide');
			}else{
				alert(JSON.parse(data));
			}
		}
	});
}




</script>

{% endblock %}




