<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<center> <h1 class="panel-title" style="padding:2%">Publicaciones en las que ofertaste</h1> </center>
<center><div>
<p>En esta sección se detallan todas las subastas en las que estás participando. ¡No la pierdas de vista!</p>	
</div></center>
<ul class="list-group">
  
	{%for mo in listaofertas%}
	  	<li id="{{mo.id}}" class="list-group-item justify-content-between">
	    	<div class="row" >
	    	    <h5>Subasta: <a href="{% url 'subastadetalle' pk=mo.idSubasta.id %}">{{ mo.idSubasta }}</a></h5>
	    		<p>Valor actual: {{mo.idSubasta.ofertaMax}}<p>
	    		<p>Tu oferta: {{mo.valorOferta}}<p>
	    		<p>Realizada el día {{mo.fechaOferta}}.<p>
	    		<p>La subasta finaliza el día {{mo.idSubasta.fechaFin}}<p>
	    		{%if mo.valorOferta >= mo.idSubasta.ofertaMax%}
	    		<p style="color:#008000">¡Felicitaciones! Tu oferta sigue siendo la mas alta hasta el momento</p>
	    		{%else%}
	    		<p style="color:#FF0000";>¡Tu oferta fue superada! Por favor ingresa para volver a ofertar. ¡Puede ser tuyo!</p>
	    		{%endif%}
	    	</div>
	  	</li>
	{%endfor%}
</ul>

{% endblock %}




