<!DOCTYPE html>
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="row" style="text-align:center">
<div class="parallax-container valign-wrapper">
        <center><div class="container valign"><h2 class="page-title center-align">Perfil del usaurio {{usuario.username}}</h2></div>
		<div class="container valign"><h4 class="page-title center-align">{{usuario.first_name}} {{usuario.last_name}}</h4></div>
        <div class="container valign"><h4 class="page-title center-align">{{usuario.email}}</h4></div></center>

</div>

<div class="row">
        <div class="col-md-4">
        {% if request.user == usuario %}
                <div class="row" style="padding: 2%">
                    <a href="/password/" class="btn btn-primary" role="button">Cambiar contraseña</a>
                </div>
                <div class="row" style="padding: 2%">
                    <a href="/editarperfil/{{perfil.id}}" class="btn btn-primary" role="button">Editar perfil</a>
                </div>
                <div class="row" style="padding: 2%">
                    <a href="/listaSubastas/" class="btn btn-primary" role="button">Mis Publicaciones</a> 
                </div>
                <div class="row" style="padding: 2%">
                    <a href="/home/" class="btn btn-primary" role="button">Moderar</a> 
                </div>
        {%else%}
         <div class="row" style="padding: 2%">
                    <a href="/" class="btn btn-info" role="button">Denunciar</a>
        </div>
        {%endif%}
        </div>
</div>
</div>

{%endblock%}


 